
  <link rel="stylesheet" href="css/estiloHeader.css" MEDIA=screen>

  <STYLE TYPE="text/css" MEDIA="screen, projection">
    @import url(./estiloHeader.css);
  </STYLE>
  <div class="container">
    <div class="item">
      <h3>Astrid Martinez</h3>
      <h1>Analizador Lexico</h1>
      <p></p>
    </div>
   
  </div>
  <div>
      <nav>
          <!-- Listado de Navegación -->
          <ul class="menu">  
              <li><a href="#">Home</a></li>  
              <li><a href="#">Quienes Somos</a></li>  
              <li><a href="#">Que Hacemos</a></li>
              <li><a href="#">Clientes</a></li>
              <li><a href="#">Club Coolaboro</a></li> 
          </ul>    
  </nav>
  </div>