<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mis Diagramas</title>
</head>

<body style="background-color: #030F1B">
    <% include bloque/header.html %>
    <div>
        <div class="card" style="width: 18rem;">
            <img src="/src/public/imagenes/AutomataSonEspacios.png" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title">Automata General</h5>
                
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/src/public/imagenes/AutomataSinEspacios (1).png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">© Lenguas de Programacion :
        </div>

    </footer>
</body>

</html>