<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body style="background-color: #030F1B">
    <% include bloque/header.html %>
    <div style="font-size:90px; padding-top: 30px;">
            <label>escriba Palabra a analizar</label>
            <input type="text " id="cajaTexto">
            <button  id="enviando"  class="enviar" id="Analizador" onclick="javascript: guardarContenido();">  enviar</button>
            <button style="display: inline;" class="enviar" id="analizador">Analizar</button>
        <div>
            <div id="textoPorLeer">
                <h4>Contenido del archivo:</h3>
                    <pre id="contenido-archivo"></pre>
            </div>
            <div id="textoLeido" style="font-size: 30px;">
                <h4>textoLeido</h4>
                    </br>
                    </br>
                    <div>
                            <h5>identificador</h5>
                            <ul id="identificador">
                            </ul>
                        </div>
                    <div>
                        <h5>palabrasReservadas</h5>
                        <ul id="palabrasReservadas">
                        </ul>
                    </div>
                    <div>
                        <h5 scope="col">boolean</h5>
                        <ul id='boolean'></ul>
                    </div>
                    <div>

                        <h5 scope="col">agrupacion </h5>
                        <ul id='agrupacion'>
                        </ul>
                    </div>
                    <div>
                        <h5 scope="col">signo</h5>
                        <ul id='signo'>
                        </ul>
                    </div>
                    <div>
                        <h5 scope="col">numeroEntero</h5>

                        <ul id='numeroEntero'>

                        </ul>
                    </div>
                    <div>
                        <h5 scope="col">numeroFlotante</h5>
                        <ul id='numeroFlotante'>
                        </ul>
                    </div>
                    <div>
                        <h5 scope="col">errores</h5>
                        <ul id='error'>
                        </ul>
                    </div>
                    <div>
                        <h5 scope="col">operador</h5>
                        <ul id='operador'>
                        </ul>
                    </div>
            </div>
            <br />
            <br />

        </div>
    </div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>


            var enviandoBtn = document.querySelector('#enviando');

            function enviar() {
                console.log(' funciona');
                axios.post('http://localhost:3000/EnviaToken', {             
                    textoEnviado: texto


                }).then(response => {
                    console.log(response);

                }).catch(error => {
                    console.log(error);

                })
            };
            enviandoBtn.addEventListener('click', enviar);

            var tipo;
            var analizadorBtn = document.querySelector('#analizador');
            
            function solicitar() {
                axios.get('http://localhost:3000/recibirTipo').
                    then(response => {
                        tipo = response.data.tipo;
                        const token = response.data.token;
                        console.log(token);
                        console.log(response.data.tipo);
                        addElemento(token);
                    }).
                    catch(error => {
                        console.log(error);
                    })
            };

            const createLi = item => {
                const li = document.createElement('li');

                li.appendChild(document.createTextNode(item));

                return li;
            };

            const addElemento = respuesta => {
                if (tipo == "Operador") {
                    const ul = document.querySelector('#operador');
                    if (respuesta) {
                        ul.appendChild(createLi(respuesta));
                    }
                } else if (tipo == "Agrupador") {
                    const ul = document.querySelector('#agrupacion');
                    if (respuesta) {
                        ul.appendChild(createLi(respuesta));
                    }
                } else if (tipo == "Palabra Reservada") {
                    const ul = document.querySelector('#palabrasReservadas');
                    if (respuesta) {
                        ul.appendChild(createLi(respuesta));
                    }
                } else if (tipo == "Identificador") {
                    const ul = document.querySelector('#identificador');
                    if (respuesta) {
                        ul.appendChild(createLi(respuesta));
                    }
                } else if (tipo == "Signo") {
                    const ul = document.querySelector('#signo');
                    if (respuesta) {
                        ul.appendChild(createLi(respuesta));
                    }
                } else if (tipo == "Entero") {
                    const ul = document.querySelector('#numeroEntero');
                    if (respuesta) {
                        ul.appendChild(createLi(respuesta));
                    }
                } else if (tipo == "Error") {
                    const ul = document.querySelector('#error');
                    if (respuesta) {
                        li.appendChild(createLi(respuesta));
                    }
                } else if (tipo == "Float") {
                    const ul = document.querySelector('#numeroFlotante');
                    if (respuesta) {
                        ul.appendChild(createLi(respuesta));
                    }
                } else if (tipo == "Boolean") {
                    const ul = document.querySelector('#boolean');
                    if (respuesta) {
                        ul.appendChild(createLi(respuesta));
                    }
                }

            };
            var texto;
            analizadorBtn.addEventListener('click', solicitar);

            function guardarContenido() {
                console.log(document.getElementById('cajaTexto').value);
                 texto = document.getElementById('cajaTexto').value;
            }
        </script>
</html>